@import url(./variables.css);
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  list-style: none;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
}
header {
  background-color: var(--primary-color);
  margin: 15px 15px 0px 15px;
  border-radius: 20px;
  height: 80px;
  display: flex;
  align-items: center;
}
nav {
  width: 100%;
}
.list-links {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.button-default {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--background-color);
  border: 2px solid var(--text-color);
  font-size: 1rem;
  color: var(--text-color);
}

.information {
  display: flex;
  justify-content: center;
  width: 100%;
}
.container-informations {
  display: grid;
  grid-template-columns: 45% 55%;
  color: var(--text-color);
  gap: 10px;
  margin-top: 100px;
  /* border: 1px solid red; */
  padding: 10px 10px 10px 10px;
}
.information img {
  display: inline-block;
  width: 200px;
  border-radius: 50%;
  border: 5px solid var(--primary-color);
}
.card-informations {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.card-informations h2 {
  font-weight: 600;
  font-size: 2rem;
}
.card-informations p {
  text-align: left;
  line-height: 25px;
  text-wrap: wrap;
  width: 100%;
}

/*projetos */
.container-projects,
.card-project {
  display: flex;
}

.projects {
  background-color: var(--primary-color);
  text-align: center;
  margin-top: 2rem;
}
.container-projects {
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5%;
  margin: 15px 15px 0px 15px;
  padding: 1rem 0 0 1rem;
}
.card-project {
  width: 40%;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 20px;
}
.card-project img {
  display: inline-block;
  width: 100%;
}

.container-information-project {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
  align-items: baseline;
}
.text-information {
  font-size: 1.1rem;
}

/*efeitos */
.card-project {
  transition: transform 0.3s ease;
}
.card-project:hover {
  transform: scale(1.1);
  margin-bottom: 10px;
}
